@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div><p></p>

Conformé has updated this Privacy Policy (the “Privacy Policy”), effective as of 5 September 2024 (the “Effective Date”). <p></p>


<p>Your privacy is important to us, which is why we’ve created this Privacy Policy. Our Privacy Policy (together with our Terms and any other documents incorporated by reference into
    your agreement with Conformé) together govern the privacy and data standards applicable to our website that we operate (together, “Site” or “Sites”).<br>

    This Privacy Policy applies to all users (“you,” “user,” “your”) of Conformé (“us,” “we,” or “our”) Services (as defined in our Terms). It describes what information we collect about you; how we use the information we collect; how we share the information we collect; how we protect your information; and how you can access, correct, and delete your information. Please read the following carefully to understand our practices regarding your Personal Information.<br>

    By using our Site, you consent to our Privacy Policy, use of cookies, and our processing of Personal Information about you in the manner and for the purposes set out below.<br>
</p>

<b>Definitions</b>
<br>
    Conformé, we, us or our means Conformé Pty Ltd (ACN 680 517 748) of 594 Inkerman Road, Caulfield North, Victoria, 3161, Australia and any of its related bodies corporate.</br>
    Capitalised terms that are not defined in this Privacy Policy may be defined in our Terms and those definitions are adopted by reference. In the event of a conflict between a definition found in the Terms or this Privacy Policy, the definition in this Privacy Policy will control.<p></p>

<b>Personal Information</b>
<br>
    We collect the following types of information about you (“Personal Information”):<p></p>
    
<b>(1) Information that you provide to us directly</b><p></p>
<b>Signing up to our Services</b> – When you sign up to our Services, we collect the following Personal Information from you:
<ul>
    <li>username</li>
    <li>email address.</li>
</ul><p></p>
<b>(2) Information that we receive from third parties</b><p></p>
We may receive information about you (including Personal Information) from third parties. If you access our Site through a third party, for example, through Google, that third party may
pass certain Personal Information about your use of its service to us. This information could include, but is not limited to:
<ul>
    <li>the user ID associated with your account</li>
    <li>an access token necessary to access that third party service</li>
    <li>any information that you have permitted the third party to share with us</li>
    <li>any information that you have made public in connection with that third party service.</li>
</ul><p></p>

This information is used to provide analytics about potential Services of interest to you, your preferences, how you share information about our Services, and to improve our marketing
and customer support efforts.<br>
However, if you visit our Sites through a non-Australian IP address, certain cookies are automatically disabled.<br>
If you would like to unlink your third-party account from our Site, you can adjust your settings in the third-party service and then we will no longer receive information collected about you
in connection with that service.<p></p>

<b>(3) Device information</b><p></p>
Like many websites, when you visit our Site, we automatically collect certain information through the use of cookies, web beacons, device identifiers, pixels, and other technologies.
This may include Personal Information about your:
<ul>
    <li>web browser</li>
    <li>IP address</li>
    <li>time zone.</li>
</ul><p></p>

Additionally, as you browse the Site, we collect information about the individual webpages or Services that you view, what websites or search terms referred you to the Site, and
information about how you interact with the Site. We refer to this automatically collected information as “Device Information”.<p></p>

We may collect Device Information using the following technologies:
<ul>
    <li>“cookies,” which are data files that are placed on your device or computer and often include an anonymous unique identifier</li>
    <li>“log files,” which track actions occurring on the Site, and collect data including your IP address, browser type, referring/exit pages, and date/time stamps</li>
    <li>“web beacons,” “tags,” and “pixels,” which are electronic files used to record information about how you browse the Site.</li>
</ul><p></p>

These cookies and the Device Information they collect are essential to the operation of our Site. You can control or reset your cookies through your web browser and, if you choose to,
you can refuse some or all cookies. However, some of the features of our Site may not function or function properly if you disable cookies. To learn more about how to control
cookies generally, you can visit www.aboutcookies.org.<p></p>

Our Site may contain third party links whose related cookies may collect data and track your movement and behaviour on those other sites. We are not responsible for these links, as
they are not controlled by Conformé.<p></p>

<b>How we use Personal Information</b><p></p>
We use the information we collect about you for the following purposes:
<ul>
    <li>Providing our Services – We use the information that you provide to us to provide our Services. This includes allowing you to create a Conformé account and to log in to your account:</li>
    <ul>
        <li>recognising you across different Services and devices</li>
        <li>billing you for transactions that you make via our Site</li>
        <li>to remember information about you so that you will not have to re-enter it during your visit or the next time you visit the Site.</li>
    </ul>
    <li>
        Communicating with you – We use your contact information to send communications to you about important changes or updates to our Services. When in line with the preferences you have shared with us, we also provide you with information or
        advertising relating to our Services.
    </li>
    <li>
        Performing data analytics – We use the information about you to help us improve our Services, including by generating and monitoring analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and
        advertising campaigns.
    </li>
    <li>
        Customising our Services for you – We use information about you to make sure that the Site and our Services are customised to your needs.
    </li>
    <li>
        Keeping our Site secure – We use information about you to screen for potential risk and fraud, and to identify violations of this Privacy Policy or our Terms of Service.
    </li>
    <li>
        Where required by law – We will use or disclose your information where we reasonably believe that such action is necessary to:</li>
    <ul>
        <li>
            (a) comply with the law and the reasonable requests of law enforcement or a government authority
        </li>
        <li>
            (b) to enforce our Terms of Service and any other agreements, or to protect the security and integrity of our Site
        </li>
        <li>
            (c) to exercise or protect the rights, property or personal safety of Conformé, our customers or others.
        </li>
    </ul>
    <li>
        To improve our services – We use content in your account to train to apply machine learning to improve our service for users. This content could include, for example,
        automatically detecting components of images or videos (e.g. to allow automatic correction or alteration of images and videos), automatically labelling data, and
        automatically detecting content prohibited by our Terms of Service.
    </li>
    <li>
        Where you have given your consent – We may seek your consent to use your information for a particular purpose. Where you give your consent for us to do this,
        we will use your information in accordance with that purpose. You can withdraw your consent to these uses at any time.    
    </li>
</ul><p></p>

You may at any time refuse to provide the Personal Information that we request. However, this may limit or prohibit our ability to provide our Services to you. You may withdraw your
consent for us to process your Personal Information at any time by contacting us in accordance with our “Contact us” section below.<p></p>

<b>
    To whom we disclose Personal Information
</b><p></p>
We only share your Personal Information with third parties to help us provide you with Services. Disclosures may be made to:
<ul>
    <li>marketing platforms</li>
    <li>communication platforms</li>
    <li>
        contractors who we engage to help process Personal Information in support of Conformé operations
    </li>
    <li>
        for anonymised data, from which all Personal Information has been removed in accordance with relevant laws and best practices, sharing may be permitted with third parties
    </li>
    <li>
        government third parties, including government agencies, regulatory bodies, and law enforcement agencies as required, authorised, or permitted by law
    </li>
    <li>
        a third party that acquires or merges with or intends to acquire or merge with Conformé or its assets.
    </li>
</ul><p></p>

If you use Conformé as a paid member of an organisation or while using your organisation’s email address, we may share your email address and plan information with an authorised
agent of your organisation upon request in order for them to administer your account on behalf of your company.<p></p>

<b>
    Changing or deleting your Personal Information
</b><p></p>
You may update certain account information such as your name and email address by logging into your account and changing your profile settings. You can also stop receiving
promotional email communications from us at any time by clicking on the unsubscribe link in the relevant communication. We will honour the unsubscribe request within 10 days of
receipt.<p></p>

You may access, review, update, rectify, or delete your Personal Information by contacting us. We will respond to all requests within 30 days. Please note that deleting your Personal
Information may limit our ability to provide Services to you.<p></p>

We may limit or reject your request in certain cases, including without limitation where the burden or expense of providing access would be disproportionate to the risks to your privacy
in the situation in question, where the rights of other persons would be violated or as otherwise required or allowed by law or governance purposes.<p></p>

If you need further assistance regarding your access and control of your Personal Information, please contact us at <a href="mailto:support@conforme.com.au">support@conforme.com.au</a>. Upon receipt of an inquiry, we
may request further identifying information, or proof of identity/residence.<p></p>

You also have a right to lodge a complaint with your local supervisory authority.<p></p>

<b>
    Security
</b><p></p>

Conformé works hard to protect your Personal Information from unauthorised access. We follow generally accepted industry standards to protect the Personal Information submitted to
us, both during transmission and once we receive it (including encryption and password protection). Our employees are trained on our security policies, adhere to security standards,
and your information is only available to those employees who need it to perform their jobs. Similarly, you should take steps to ensure that you select a secure password, that it remains
secure, and that your account is not subject to unauthorised access. Conformé is not responsible for lost or stolen passwords.<p></p>

However, no method of transmission over the Internet using industry standard technology is 100% secure. Therefore, we cannot guarantee the absolute security of your information.<p></p>

<b>
    Data Retention
</b><p></p>

When you interact through the Site, we will maintain your Personal Information, and other information you have provided, for our records, as long as that information is needed to
operate the accounts you have with us, to deliver our Services to you, and for the other purposes set out in the “What Personal Information do we collect?” section, including legal,
audit, and backup purposes. We will retain this information unless and until you ask us to delete this information.<p></p>

<b>
    Minors
</b><p></p>

We do not knowingly advertise or collect Personal Information from any individual under the age of 13 and our Services and content are not directed at children under the age of 13. All
users that are under the age of 16 must obtain the consent of a parent or legal guardian before that user can use our Services. Our Terms of Service has further details on this
consent. If we later find out that we have collected Personal Information from any individual under the age of 16 without parental consent, we suspend and remove this Personal
Information immediately.<p></p>

<b>
    Links to other websites and services
</b><p></p>

Our Site may provide or allow access to third party content and services. We are not responsible for the practices employed by websites or services accessible from the Site,
including the information or content contained within this Site.<p></p>
When you use a link to go from our Site to another website, our Privacy Policy does not apply to third-party websites or services. Your browsing and interaction on any third-party
website or service that has a link or advertisement on our Site is subject to that third party’s own policies.<p></p>
Our Site is subject to Google’s Privacy Policy. In addition to our procedure for deleting stored data, you can revoke Conformé’s access to your data via the Google security settings page.<p></p>

<b>
    Changes to our privacy policy
</b><p></p>

We reserve the right to modify this Privacy Policy at any time and without notice in order to reflect changes to our practices or for other operational, legal, or regulatory reasons. If we
make material changes to this Privacy Policy you may be notified via email (if we have your contact information) or otherwise in some manner through our Services that we deem
reasonably likely to reach you.<p></p>
Any modifications to this Privacy Policy will be effective upon our publication of the new terms and/or upon implementation of the new changes to our Services (or as otherwise
indicated at the time of publication). In all cases, your continued use of our Services or Site after the publication of any modified Privacy Policy indicates your acceptance of the terms of
any modifications to the Privacy Policy.<p></p>
In providing our Services to you, we may make use of a number of automated processes using your Personal Information and your activity on our Site as tracked by us, in order to
provide optimised Services to you.<p></p>


As set forth in, and in addition to the rights detailed in this Privacy Policy, you may:
<ul>
    <li>
        Update or rectify any of the Personal Information we hold about you, in the manner described in the “Changing or Deleting your Personal Information” section above.
    </li>
    <li>
        Withdraw your consent to our use of your Personal Information as described in this Privacy Policy. This can be done by contacting us directly, using the details set out in
        the “Contact us” section, and any such requests may be processed in accordance with our legal and contractual obligations.
    </li>
    <li>
        Request that we provide you with a copy of the Personal Information we hold about you in a portable and machine-readable form or share your Personal Information with
        a nominated third party. This can be done by contacting us directly, using the details set out in the “Contact us” section.
    </li>
 </ul><p></p>
<b>
    Contact Us
</b><p></p>

Thank you for taking the time to read this. Please do not hesitate to get in touch if you have any queries about the use of your private information. You may email us at <a href="mailto: support@conforme.com.au">support@conforme.com.au</a>.