@page
@model PrivacyModel
@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div><p></p>

<b>SOFTWARE-AS-A-SERVICE (SaaS) AGREEMENT</b><p></p>
    
Conformé has updated this Software-as-a-Service (SaaS) Agreement (the “Agreement”), effective as of 5 September 2024 (the “Effective Date”). <p></p>

<b>(1) Introduction</b><p></p>
This Agreement sets out the general terms and conditions under which Conformé agrees to provide, and Customer and End User agree to receive and use, the Services. By accessing or using the Services, Customer and End User acknowledge that they have read, understand, and agree to be bound by this Agreement and Conformés Privacy Notice which are hereby incorporated into and made a part of this Agreement. Those who do not agree with the terms of this Agreement should not access or use the Services.<p></p>

<b>(1.1) Authority</b><p></p>
The individual agreeing to this Agreement represents to Conformé that they have the authority to bind Customer and any Affiliates to this Agreement.<p></p>

<b>(1.2) End Users</b><p></p>
To access or use the Services, an End User must sign up for an End User Account by registering for an account and providing their full legal name, a valid email address, and any other information required by Conformé to complete the registration process.<p></p>

<b>(1.3) Relationship Between Customer and End User</b><p></p>
The administrator of Customer’s Account can modify or re-assign roles of End Users and otherwise exercise the rights granted to the Customer pursuant to this Agreement. If a Customer elects to replace the administrator of its Customer Account, such administrator must agree to take any actions reasonably necessary and requested by Conformé or Customer to facilitate such transfer of authority. When utilising the Services under a Customer Account, End Users may submit Customer Data in and to the Services, such as messages, conversations or files, and Customer may provide Conformé with instructions on what to do with it. For example, Customer may provision or deprovision access to the Services, manage permissions, retention and export settings. These choices and instructions of Customer’s administrator may result in the disclosure, modification, deletion or other Processing of certain or all Customer Data.<p></p>

<b>(2) Use and access to the services</b><p></p>

<b>(2.1) Accessing the Services</b><p></p>
Access to the Services may be procured via an Order Form entered into by and between Customer and Conformé, or Customer may procure the Services (including purchasing additional End User subscriptions) through Conformé’s websites and Customer Settings. Customer must purchase a subscription for each End User who accesses or uses the Services.<p></p>

<b>(2.2) Customer’s Responsibilities Regarding End Users</b><p></p>
Customer is responsible for the conduct of its End Users and for ensuring that End Users abide by the terms of this Agreement at all times in connection with their use of the Services. It is Customer’s responsibility to:
<ul>
    <li>(i) inform End Users of any relevant Conformé policies, practices and settings that Customer elects to enforce related to its End Users’ use of the Services</li>
    <li>(ii) give all notices to, and obtain any rights, permissions or consents from its End Users that are necessary for Customer’s lawful use of the Services and the Processing of Customer Data by or on behalf of Conformé in connection with Customer’s use of the Services</li>
    <li>and (iii) respond to and resolve any dispute between Customer and an End User related to or based on Customer Data and/or Customer’s Processing of that Customer Data in connection with Customer’s use of the Services.</li>
</ul>
<p></p>

<b>(2.3) Login Credentials</b><p></p>
Customer and End User are responsible for all login credentials, including usernames and passwords, and Conformé shall not be liable for any damages or losses that may occur as a result of Customer’s failure, or the failure of End Users, to maintain the confidentiality of their login credentials. End Users are not permitted to share or use the same login credentials to the Services. Conformé reserves the right to refuse registration of or cancel passwords it deems inappropriate. Customer is responsible for notifying Conformé at <a href="mailto:support@conforme.com.au?subject=support email">support@conforme.com.au</a>. if it becomes aware of any unauthorised use of or access to its Customer Account or any End User Account.<p></p>

<b>(2.4) Acceptable Use</b><p></p>
In addition to complying with the other terms set forth in this Agreement, Customer and End User agree to:
<ul>
    <li>(i) use the Services in compliance with all applicable laws and regulations</li>
    <li>and (ii) comply with the terms of Conformé’s End User Conduct and Content Policy.</li>
</ul>
<p></p>

<b>(2.5) Equipment</b><p></p>
Customer shall be responsible for obtaining, maintaining and securing any Equipment used to access the Services.<p></p>

<b>(2.6) Support and Maintenance</b><p></p>
The Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, either by Conformé or by third party providers, or because of other causes beyond Conformé’s reasonable control, but Conformé shall use reasonable efforts to provide advance written notice of any scheduled service disruption. Conformé may access Customer Accounts or End User Accounts in order to respond to and resolve support requests.<p></p>

<b>(3) Confidentiality</b><p></p>

<b>(3.1) Protection of Confidential Information</b><p></p>
The Receiving Party agrees:
<ul>
    <li>(i) to protect the confidentiality of Confidential Information using at least the same degree of care and discretion as it uses with its own Confidential Information, but in no event less than a reasonable degree of care</li>
    <li>and (ii) not to disclose (except in performance of the Services or as otherwise permitted by this Agreement) to any third person any such Confidential Information without the express prior written consent of the Disclosing Party. The Receiving Party may disclose Confidential Information to its Representatives on a strict need to know basis and only to those who are obligated to maintain the confidentiality of such Confidential Information under terms that are at least as protective as the terms set forth herein.</li>
</ul>
<p></p>

<b>(3.2) Compelled Disclosure</b><p></p>
The Receiving Party may disclose Confidential Information of the Disclosing Party to the extent legally required in connection with any legal or regulatory proceeding, or where Conformé is the Receiving Party. In such event the Receiving Party will, when permitted by law, provide advance notice to the Disclosing Party.<p></p>

<b>(3.3) Equitable Relief</b><p></p>
The Receiving Party acknowledges that disclosure of Confidential Information would cause substantial harm for which damages alone would not be a sufficient remedy, and therefore that upon any such disclosure by the Receiving Party the Disclosing Party may be entitled to appropriate equitable relief in addition to whatever other remedies it might have at law.<p></p>

<b>(4) Data Protection, Usage and Feedback</b><p></p>

<b>(4.1) Data Protection</b><p></p>
Conformé shall implement and maintain technical, organisational, and physical measures designed to protect the confidentiality, integrity and availability of Customer Data in Conformé’s possession, custody or control.<p></p>

<b>(4.2) Usage Data</b><p></p>
Notwithstanding anything to the contrary, Conformé shall have the right where permitted by law to collect, aggregate and analyse anonymised or de-identified data and other information relating to Customer and End Users’ use of the Services, including, without limitation, information concerning Customer Data and data derived therefrom (collectively, “Usage Data”), and Conformé will be free during and after the Subscription Term to use Usage Data to analyse, support, develop, operate and improve the Services and other Conformé offerings and for other lawful business purposes, including without limitation, to generate industry benchmarks or best practice guidance, recommendations, or similar reports.<p></p>

<b>(4.3) Feedback</b><p></p>
By submitting any feedback or suggestions regarding the Services, or sharing such feedback with any Representative of Conformé, Customer grants to Conformé an unlimited, irrevocable, perpetual, sub-licensable, transferable, royalty-free license to use such feedback or suggestion(s) for any purpose and without any obligation or compensation to Customer, End User, or any other Customer Representative. No rights or licenses are granted except as expressly set forth herein.<p></p>

<b>(5) Fees</b><p></p>

<b>(5.1) Calculation of Subscription Charges</b><p></p>
Customer may purchase the Services either through Conformé’s website or by executing an Order Form. If the Parties execute an Order Form, Customer will make payment to Conformé in accordance with the terms of such Order Form. Subscription Charges are billed in advance and are nonrefundable unless otherwise stated herein. If Customer’s use of the Services exceeds the number of purchased End User Accounts set forth on an Order Form or otherwise requires the payment of additional Subscription Charges under this Agreement, Customer shall be charged for such usage and Customer agrees to pay the additional Subscription Charges from the date of first usage by End Users who were not paid for. Unless otherwise agreed upon in writing, the Subscription Charges for a renewal of the Subscription Term or for any additional subscriptions purchased by Customer shall be calculated according to the price(s) then specified on Conformé’s website.<p></p>

<b>(5.2) Payment and Billing</b><p></p>
Unless otherwise expressly set forth in this Agreement or an Order Form, all Subscription Charges are due in full upon commencement of the Subscription Term. Unless a substitute payment mechanism has been agreed to by Conformé, a valid credit card is required to subscribe to the Services and Customer authorises Conformé to automatically charge Customer’s selected payment method for Subscription Charges on or after the starting date of each subsequent Subscription Term unless Customer’s subscription to the Services terminates as set forth in Section 6.2 below. Conformé may choose to bill through an invoice, in which case, full payment for invoices must be received by Conformé within thirty (30) days after the mailing date of the invoice. If Customer fails to pay its Fees within five (5) days of Conformé’s notice to Customer that payment is delinquent, or if Customer does not update payment information upon Conformé’s request, in addition to Conformé’s other remedies, Conformé may suspend access to and use of the Services by Customer and End Users. Customer agrees to promptly update its Customer Account information, including payment information, with any changes that may occur (for example, a change in billing address or credit card expiration date).<p></p>

<b>(5.3) Billing Disputes</b><p></p>
If Customer believes that Conformé has billed Customer incorrectly, Customer must contact Conformé no later than thirty (30) days after the closing date on the first billing statement in which the error or problem appeared in order to receive an adjustment or credit. Inquiries should be directed to Conformé’s customer support department at <a href="mailto:support@conforme.com.au?subject=support email">support@conforme.com.au</a>.<p></p>

<b>(5.4) Upgrades</b><p></p>
If Customer chooses to upgrade its Subscription Plan or increase the number of End Users authorised to access and use a Service during a Subscription Term, any incremental Subscription Charges associated with such upgrade will be charged in accordance with the Subscription Charges that exist between Customer and Conformé during the applicable Subscription Term. The subscription term for additional End Users shall be coterminous with the then-current Subscription Term for the existing End Users. In any subsequent Subscription Term, Customer’s Subscription Charges will reflect any such upgrades. Any discount provided to Customer is applicable only to the initial Subscription Term detailed in an Order Form and will not be applied to any subsequent Subscription Terms.<p></p>

<b>(5.5) Downgrades</b><p></p>
Customer may not downgrade its Subscription Plan or reduce the number of End User subscriptions during any Subscription Term. If Customer desires to downgrade its Subscription Plan or reduce the number of End User subscriptions under any Subscription Plan for a subsequent Subscription Term, Customer must provide Conformé with thirty (30) days written notice prior to the end of Customer’s then-current Subscription Term. Downgrading a Subscription Plan may cause loss of content, features, or capacity of the Services as available to Customer under its Customer Account, and Conformé is not responsible for such loss. No credits or refunds will be issued for usage that is less than the purchased number of subscriptions or for unused time on subscriptions.<p></p>

<b>(5.6) Payment Portals</b><p></p>
If Customer mandates Conformé to use a vendor payment portal or compliance portal that charges Conformé a subscription fee or a percentage of any uploaded invoice as a required cost of doing business, Customer shall be invoiced by Conformé for, and Customer is obligated to pay, the cost of this fee.<p></p>

<b>(6) Term and Termination</b><p></p>

<b>(6.1) Term</b><p></p>
Subject to termination provisions below, Conformé shall provide the Services to Customer for the initial Subscription Term, which shall then be automatically renewed and extended for the same duration as the previous Subscription Term. Either Party may request termination at least thirty (30) days prior to the end of the then-current Subscription Term, and Customer may submit such request for termination by notifying Conformé at <a href="mailto:support@conforme.com.au?subject=support email">support@conforme.com.au</a>.<p></p>

<b>(6.2) Termination</b><p></p>
Either Conformé or Customer may terminate this Agreement if the other Party fails to cure any material breach of this Agreement within thirty (30) days after written notice to the other Party. Customer may terminate its subscription if it ceases its business operations or becomes subject to insolvency proceedings and such proceedings are not dismissed within sixty (60) days. Upon any termination, Conformé may immediately deactivate the Customer Account and any associated End User Account; provided, however, that in no event shall any such deactivation relieve Customer of any obligation to pay Fees accrued or payable to Conformé or of any liability pertaining to Customer’s use of the Services prior to such termination. In no event will Conformé’s termination for cause relieve Customer of its obligation to pay any Fees payable to Conformé for the period prior to termination. Except for Customer’s termination for Conformé’s uncured material breach of this Agreement, Customer must pay any unpaid Subscription Charges and Fees incurred for the remainder of the then-current Subscription Term.<p></p>

<b>(6.3) Data Export</b><p></p>
Conformé will make all Customer Data available to Customer for electronic retrieval for thirty (30) days after termination. After such thirty (30) days, Conformé shall delete Customer Data in accordance with its data deletion policy.<p></p>

<b>(6.4) Suspension and Other Remedial Action</b><p></p>
In addition to any other remedies that may be available, Conformé reserves the right to take that remedial action it deems necessary without liability to Conformé, including the immediate suspension or termination of a Customer Account or an End User Account, upon notice to Customer should Customer or an End User:
<ul><li>(i) fail to abide by Conformé’s End User Conduct and Content Policy</li>
    <li>or (ii) if in Conformé’s sole discretion, such action is deemed necessary to prevent disruption to the Services or harm to others.</li>
</ul>

Conformé will use commercially reasonable efforts to provide Customer with advance notice of terminations and suspensions when practicable, but if Conformé determines that the actions of a Customer or End User endanger the operation of the Services or pose a threat of imminent harm to others, Conformé may suspend access to the Services without notice. Conformé reserves the right to notify Customer and/or the administrator associated with the Customer Account with respect to an End User’s violation of the terms of this Agreement.<p></p>

<b>(7) Intellectual Property Rights</b><p></p>

<b>(7.1) Of Conformé</b><p></p>
The Services are made available on a limited access basis, and no ownership right is conveyed to Customers or End Users. Conformé owns and retains all intellectual property rights in and to:
<ul><li>(i) the Services (excluding only the Customer Data) and all trademarks, logos and service marks utilised by Conformé in connection with the delivery of the Services</li>
    <li>(ii) all improvements, enhancements or modifications of the Services</li>
    <li>and (iii) any Software, applications, inventions or other technology developed in connection with supporting the Services.</li>
</ul><p></p>

<b>(7.2) Of Customer</b><p></p>
As between Customer and Conformé, Customer shall own all intellectual property rights in and to the Customer Data. Customer grants to Conformé on behalf of itself and its End Users a worldwide, non-sublicensable, non-transferrable (except to a permitted assignee of Conformé), non-exclusive, limited license to access, use, copy, reproduce, Process, adapt, distribute, publish, transmit, export and display the Customer Data as reasonably necessary:
<ul>
    <li>(i) to provide, maintain and update the Services</li>
    <li>(ii) to prevent or address service, security, support and technical issues</li>
    <li>and (iii) as expressly permitted by this Agreement or by Customer in writing.</li>
</ul><p></p>

<b>(8) Warranty and Disclaimer</b><p></p>

<b>(8.1) Conformé Warranties</b><p></p>
Conformé warrants that during an applicable Subscription Term, the Services will perform materially in accordance with the Documentation. Conformé’s sole liability (and Customer’s sole and exclusive remedy) for any breach of this warranty will be, at no charge to Customer, for Conformé to use commercially reasonable efforts to correct the reported non-conformity, or if Conformé determines such remedy to be impracticable, either party may terminate the Agreement and Customer will receive a pro-rata refund of any pre-paid, unused Fees for the terminated portion of the Subscription Term. The warranties herein do not apply if the error was caused by Customer or End User’s misuse or unauthorised modification of:
<ul><li>(i) the Services</li>
    <li>(ii) Third Party Services.</li>
</ul><p></p>

<b>(8.2) Customer Warranties</b><p></p>
Customer warrants that it is entitled to transfer the Customer Data to Conformé so that Conformé and its authorised third party service providers may lawfully use, Process, and transfer the Customer Data in accordance with this Agreement on Customer’s behalf. Customer agrees to comply with all applicable laws in its use of the Services.<p></p>

<b>(8.3) Mutual Warranties</b><p></p>
Each Party represents and warrants to the other that:
<ul><li>(a) this Agreement has been duly executed and delivered and constitutes a valid and binding agreement enforceable against such Party in accordance with its terms</li>
    <li>(b) no authorisation or approval from any third party is required in connection with such Party’s execution, delivery or performance of this Agreement</li>
    <li>and (c) the execution, delivery and performance of the Agreement does not and will not violate the terms or conditions of any other agreement to which it is a party or by which it is otherwise bound.</li>
</ul><p></p>

<b>(8.4) Disclaimer</b><p></p>
EXCEPT AS EXPRESSLY PROVIDED FOR HEREIN, AND TO THE FULLEST EXTENT PERMITTED BY LAW, THE SERVICES AND ALL RELATED COMPONENTS AND INFORMATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND, AND CONFORMÉ EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. CONFORMÉ DOES NOT WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED, SECURE, ERROR-FREE, VIRUS-FREE OR FREE FROM HARMFUL COMPONENTS; NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES. CONFORMÉ DOES NOT WARRANT THAT IT WILL REVIEW THE CUSTOMER DATA FOR ACCURACY OR THAT IT WILL PRESERVE OR MAINTAIN THE CUSTOMER DATA WITHOUT LOSS OR CORRUPTION. CONFORMÉ SHALL NOT BE LIABLE FOR DELAYS, INTERRUPTIONS, SERVICE FAILURES OR OTHER PROBLEMS INHERENT IN USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS, THIRD PARTY PLATFORMS, THIRD PARTY MESSAGING APPLICATIONS, OR OTHER SYSTEMS OUTSIDE THE REASONABLE CONTROL OF CONFORMÉ.<p></p>

<b>(9) Indemnification</b><p></p>

<b>(9.1) Conformé’s Indemnification Obligations</b><p></p>
Conformé will defend Customer Parties from and against any third party claim alleging that the Customer’s use of the Services as contemplated under this Agreement violates the intellectual property rights of such third party and will indemnify the Customer Parties for damages awarded against the Customer Parties in connection with or as a result of such claim or any amounts paid by Customer Parties under a settlement approved by Conformé, including reasonable fees of attorneys engaged by Conformé in connection with the defense or settlement of such claim. Notwithstanding the foregoing, Conformé shall not be required to indemnify Customer Parties to the extent the claim against Customer Parties arises from:
<ul>
    <li>(i) Customer or any End User’s use of the Services in a manner that violates this Agreement</li>
    <li>(ii) modification of the Services by anyone other than Conformé or its Representatives, unless approved by Conformé</li>
    <li>(iii) the combination, operation or use of the Services with software not provided by Conformé, unless approved by Conformé</li>
    <li>or (iv) violations of third party rights caused by Customer Data.</li>
</ul><p></p>

<b>(9.2) Customer’s Indemnification Obligations</b><p></p>
Customer will defend Conformé Parties from and against any third party claim, action, suit, proceeding or demand arising from or related to:
<ul>
    <li>(i) Customer’s or an End User’s violation of applicable laws while using the Services</li>
    <li>and (ii) any third party claim arising from or related to Customer Data, and will indemnify Conformé Parties for damages awarded against the Conformé Parties in connection with or as a result of such claim or any amounts paid by Conformé Parties under a settlement approved by Customer, including reasonable fees of attorneys engaged by Customer in connection with the defense or settlement of such claim.</li>
</ul><p></p>

<b>(9.3) Potential Infringement</b><p></p>
If due to a claim of infringement the Services are held by a court of competent jurisdiction or believed by Conformé to be infringing, Conformé may at its option and expense:
<ul>
    <li>(i) replace or modify the Services to be non-infringing provided that such modification or replacement contains substantially similar features and functionality</li>
    <li>(ii) obtain for Customer a license at Conformé’s expense to continue using the Services</li>
    <li>or (iii) if neither of the foregoing are commercially practicable, terminate this Agreement and Customer’s rights hereunder, in which case Conformé’s sole liability (in addition to its indemnification obligations above) shall be to provide Customer with a pro-rated refund of prepaid but unused Subscription Charges applicable to the remaining portion of Customer’s current Subscription Term. Sections 9.1 and 9.3 state Conformé’s sole liability with respect to, and Customer Parties’ exclusive remedy against Conformé for, any infringement claim.</li>
</ul><p></p>

<b>(9.4) Indemnification Process</b><p></p>
In the event of a potential indemnity obligation, the Party seeking indemnification must:
<ul>
    <li>(i) provide prompt notice to the indemnifying Party concerning the existence of an indemnifiable claim</li>
    <li>(ii) promptly provide the indemnifying Party with all information and assistance reasonably requested</li>
    <li>and (iii) cooperate fully with the indemnifying Party in defending the claim. Failure to give prompt notice shall not constitute a waiver of a Party’s right to indemnification and shall affect the indemnifying Party’s obligations under this Agreement only to the extent that the indemnifying Party’s rights are materially prejudiced by such failure or delay. The indemnifying Party shall have full control and authority over the defense of any claim; provided, however, that any settlement requiring the Party seeking indemnification to admit liability or make any financial payment shall require such Party’s prior written consent, not to be unreasonably withheld or delayed.</li>
</ul><p></p>


<b>(10) Limitation of Liability</b><p></p>

<b>(10.1) Exclusion of Damages</b><p></p>
UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, NEGLIGENCE OR OTHERWISE) SHALL EITHER PARTY TO THIS AGREEMENT, OR THEIR RESPECTIVE AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SERVICE PROVIDERS, SUPPLIERS OR LICENSORS, BE LIABLE TO THE OTHER PARTY OR ITS AFFILIATES FOR ANY LOST PROFITS, LOST SALES OR BUSINESS, LOST DATA , BUSINESS INTERRUPTION, LOSS OF GOODWILL, COSTS OF COVER OR REPLACEMENT, OR FOR ANY OTHER TYPE OF INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE LOSS OR DAMAGES INCURRED BY THE OTHER PARTY OR ITS AFFILIATES IN CONNECTION WITH THIS AGREEMENT, THE SERVICES OR PROFESSIONAL SERVICES, REGARDLESS OF WHETHER SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF OR COULD HAVE FORESEEN SUCH DAMAGES.<p></p>

<b>(10.2) Limitation of Liability</b><p></p>
NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, CONFORMÉ’S AGGREGATE LIABILITY TO CUSTOMER, ITS AFFILIATES, OR ANY THIRD PARTY ARISING OUT OF THIS AGREEMENT, THE SERVICES OR PROFESSIONAL SERVICES, SHALL IN NO EVENT EXCEED THE SUBSCRIPTION CHARGES AND/OR PROFESSIONAL SERVICES FEES PAID BY CUSTOMER DURING THE TWELVE (12) MONTHS PRIOR TO THE FIRST EVENT OR OCCURRENCE GIVING RISE TO SUCH LIABILITY. CUSTOMER ACKNOWLEDGES AND AGREES THAT THE ESSENTIAL PURPOSE OF THIS SECTION 10.2 IS TO ALLOCATE THE RISKS UNDER THIS AGREEMENT BETWEEN THE PARTIES AND LIMIT POTENTIAL LIABILITY GIVEN THE SUBSCRIPTION CHARGES AND PROFESSIONAL SERVICES FEES, WHICH WOULD HAVE BEEN SUBSTANTIALLY HIGHER IF CONFORMÉ WERE TO ASSUME ANY FURTHER LIABILITY OTHER THAN AS SET FORTH HEREIN. CONFORMÉ HAS RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO PROVIDE CUSTOMER WITH THE RIGHTS TO ACCESS AND USE THE SERVICES AND/OR THE PROFESSIONAL SERVICES PROVIDED FOR IN THIS AGREEMENT. THE FOREGOING LIMITATIONS IN THIS SECTION 10.2 SHALL NOT APPLY TO CLAIMS OR DAMAGES ARISING FROM:
<ul><li>(1) THE INDEMNIFICATION OBLIGATIONS HEREIN</li>
    <li>OR (2) CUSTOMER’S NON-PAYMENT OF UNDISPUTED FEES DUE AND PAYABLE.</li>
</ul><p></p>

<b>(10.3) Limitation of Liability in the Aggregate</b><p></p>
THE LIMITATION OF LIABILITY PROVIDED FOR HEREIN APPLIES IN AGGREGATE TO ANY AND ALL CLAIMS BY CUSTOMER AND ITS AFFILIATES, AND SHALL NOT BE CUMULATIVE.<p></p>

<b>(10.4) Jurisdiction-specific Exclusions</b><p></p>
Some jurisdictions do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages or for a Party’s own fraud, willful injury to the person or property of another, or violation of law which means that some of the above limitations may not apply to Customer. IN THESE JURISDICTIONS, CONFORMÉ’S LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.<p></p>

<b>(10.5) Enforceable Against Conformé</b><p></p>
Any claims or damages that Customer may have against Conformé shall only be enforceable against Conformé's company entity and not any other entity, nor any officers, directors or Representatives of Conformé or any other entity.<p></p>

<b>(10.6)</b><p></p>
The provisions of this Section 10 allocate the risk between the Parties under this Agreement and the Parties have relied on these limitations in determining whether to enter into this Agreement.<p></p>

<b>(11) USE OF THIRD PARTY SERVICES</b><p></p>
The Services allow for various Third Party Services to be used in connection with the Services. Customer’s use of such Third Party Services, and any exchange of Customer Data between Customer and the provider of such Third Party Service is solely between Customer and the Third Party Service provider. Conformé does not warrant or support any Third Party Service or other non-Conformé product or service, regardless of whether such Third Party Service is promoted or made available through the Services or is designated by Conformé as “certified” or “working with” the Services. Customer acknowledges that providers of such Third Party Services may have access to Customer Data in connection with the interoperation and support of such Third Party Service with the Services and that, as between Customer and Conformé, Customer is solely responsible for reviewing and complying with such Third Party Service provider’s terms of use, practices and policies. To the extent Customer authorises the access, transmission or Processing of Customer Data through a Third Party Service, Conformé shall not be responsible for any disclosure, modification, deletion or other Processing of such Customer Data by the Third Party Service provider or for any act or omission on the part of such Third Party Service provider.<p></p>

<b>(12) MISCELLANEOUS</b><p></p>

<b>(12.1) Governing Law; Venue</b><p></p>
This Agreement and any disputes arising under it will be governed by the laws of the State of Victoria without regard to its conflict of laws provisions, and Conformé, Customer and End User consent to the personal jurisdiction and venue of the state or federal courts located in Melbourne, Victoria.<p></p>

<b>(12.2) Arbitration</b><p></p>
Any dispute arising out of or in any way relating to this Agreement shall be resolved according to Victorian law and exclusively by binding arbitration before a single arbitrator with the Victoria Legal Aid and pursuant to the then existing arbitration rules at Victoria Legal Aid. If the Parties cannot agree upon selection of an arbitrator, then Victoria Legal Aid shall appoint an arbitrator experienced in the enterprise software industry. The place of the arbitration will be Melbourne, Victoria unless otherwise agreed upon by the Parties. The arbitration will be conducted in English. The arbitrator shall provide detailed written findings of fact and conclusions of law in support of any award. Judgment upon any such award may be enforced in any court of competent jurisdiction. The Parties further agree that the arbitration shall be conducted in their individual capacities only and not as a class action or other representative action, and the Parties expressly waive their right to file a class action or seek relief on a class basis. If any court or arbitrator determines that the class action waiver set forth herein is void or unenforceable for any reason or that an arbitration can proceed on a class basis, then the portions of this section mandating arbitration shall be deemed null and void in their entirety and the Parties shall be deemed to have not agreed to arbitrate disputes. Customer may opt out and not be bound by the arbitration and class action waiver provisions by sending written notice to Conformé within thirty (30) days of the Effective Date of this Agreement between Customer and Conformé. Written notice should be sent to the address shown below. If Customer opts out of arbitration, Conformé will also not be bound to arbitrate. Notwithstanding the foregoing, either Party shall be entitled to seek injunctive relief as set forth in the Confidentiality section above to stop unauthorised use of any Confidential Information or the Services or infringement of a Party’s intellectual property rights. Disputes, claims, or controversies concerning either Party’s intellectual property rights or claims of piracy or unauthorised use of the Services shall not be subject to arbitration. The Parties further agree that the prevailing Party in any action or proceeding to enforce any right or provisions under this Agreement, including any arbitration or court proceedings, will be entitled to recover its reasonable costs and attorneys’ fees.<p></p>

<b>(12.3) Legal Notices</b><p></p>
Conformé may provide general notices related to the Services that are applicable to Customer via email or notification within the Services and such notices shall be deemed to satisfy any legal requirement that notice be made in writing. Legal notices (including all legal notices from Customer) must be sent via email, first class mail, airmail, or overnight courier to the address of the Customer provided via an Order Form. Legal notices will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by email; the day after it is sent, if sent for next day delivery by recognised overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested. Legal notices to Conformé shall be sent to:<p></p>
<b>Conformé Pty Ltd.</b><br>
    Attn: Legal Department<br>
    594 Inkerman Road<br>
    Caulfield North, Victoria, 3161<br>
    Australia<p></p>
     
    If Email: <a href="mailto:legal@conforme.com.au?subject=legal email">legal@conforme.com.au</a><p></p>
    
    General support-related inquiries to Conformé can be sent to <a href="mailto:support@conforme.com.au?subject=support email">support@conforme.com.au</a><p></p>


<b>(12.4) Publicity</b><p></p>
Use of Customer’s Marks. Conformé shall have the right to use Customer’s name and logo in a factual manner for marketing or promotional purposes on Conformé’s website and in other communication with existing or potential Conformé customers. The Parties shall work together in good faith to issue at least one mutually agreed upon press release upon Customer’s launch of the Services, and Customer otherwise agrees to reasonably cooperate with Conformé to serve as a reference upon request.<p></p>

<b>(12.5) Severability; No Waiver</b><p></p>
In the event that any provision of this Agreement is found to be invalid or unenforceable, such provision shall be limited or eliminated to the minimum extent necessary so that the Agreement shall otherwise remain in full force and effect and remain enforceable between the Parties. No waiver of any provision of this Agreement shall be deemed a further or continuing waiver of such provision or any other provision, and a Party’s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision.<p></p>

<b>(12.6) Assignment</b><p></p>
Neither this Agreement nor any of the rights or licenses granted hereunder may be transferred or assigned by either Party without the other Party’s express prior written consent (not to be unreasonably withheld or delayed); provided, however, that either Party may assign this Agreement and all Order Forms related to Customer’s use of the Services upon written notice (if by Customer via email to <a href="mailto:legal@conforme.com.au?subject=legal email">legal@conforme.com.au</a>) without the other Party’s consent to an Affiliate or to its successor in interest in connection with a merger, acquisition, corporate reorganisation, or sale of all or substantially all of its assets; provided, however, that should Customer assign this Agreement to any competitor of Conformé, then Conformé shall have the right to terminate this Agreement and Customer’s use of the Services upon notice.Any other attempt to transfer or assign this Agreement or a Customer Account will be null and void. Subject to the foregoing, this Agreement shall bind and inure to the benefit of the Parties, their respective successors, and permitted assigns.<p></p>

<b>(12.7) Force Majeure</b><p></p>
Neither Party shall be liable for delayed or inadequate performance of its obligations hereunder to the extent caused by a Force Majeure Event. The Party experiencing such Force Majeure Event shall be relieved from its obligations (or part thereof) as long as the Force Majeure Event lasts and hinders the performance of said obligations (or part thereof); provided, however, that the Party experiencing such Force Majeure Event shall promptly notify the other Party of such event and shall make reasonable efforts to mitigate the effects of the Force Majeure Event.<p></p>

<b>(12.8) Relationship of the Parties</b><p></p>
The Parties are and shall be independent contractors with respect to all Services provided under this Agreement. This Agreement does not create a partnership, franchise, joint venture, agency, fiduciary, or employment relationship between the Parties, and Customer does not have any authority of any kind to bind Conformé in any respect whatsoever. There are no third party beneficiaries to this Agreement. Without limiting this section, Customer’s End Users are not third party beneficiaries to Customer’s rights under this Agreement.<p></p>

<b>(12.9) Use by Affiliates and Extension of Rights</b><p></p>
Customer may extend its rights, benefits and protections provided herein to its Affiliates provided that Customer remains responsible for and liable for such Affiliate’s use of the Services and compliance with this Agreement.<p></p>

<b>(12.10) Trial Subscriptions</b><p></p>
Conformé may, at its option, offer new customers a limited free trial of the Services, subject to this Agreement. Notwithstanding anything to the contrary herein, Conformé shall have the right to terminate a Customer free trial at any time and for any reason.<p></p>

<b>(12.11) Beta Access</b><p></p>
Select Customers may be invited to participate in the review and testing of pre-release versions of new tools and enhancements within the Services which may be identified as “beta,” “early access,” “evaluation,” “preview,” “test,” “pre-release,” or a similar term. Customer acknowledges and understands that its participation in such beta offerings is:
<ul><li>(i) not required and is at Customer’s own risk</li>
    <li>(ii) made available on an “as is” basis without warranties of any kind</li>
    <li>and (iii) may be subject to additional terms related to its use.</li>
</ul>
Conformé will have no liability arising out of or in connection with Customer’s use of such beta offerings.<p></p>

<b>(12.12) English Version Controls</b><p></p>
Non-English translations of this Agreement may be provided for convenience only. In the event of any ambiguity or conflict between translations, the English version is authoritative and controls.<p></p>

<b>(12.13) Entire Agreement</b><p></p>
This Agreement, including all attachments, policies, exhibits, and any Order Form(s) related hereto, constitutes the entire agreement between the Parties concerning the subject matter hereof and supersedes and replaces any prior or contemporaneous representations, understandings and agreements, whether written or oral, with respect to its subject matter. To the extent of any conflict or inconsistency between the provisions of this Agreement and any Order Form, the Order Form shall prevail. No terms or conditions stated in any Customer purchase order or similar documentation shall be incorporated into or form any part of this Agreement, and all such terms or conditions shall be considered null and void.<p></p>

<b>(12.14) Updating this Agreement</b><p></p>
Conformé reserves the right to update or modify this Agreement from time to time as its business evolves by posting an updated version of this Agreement on its website. If, in Conformé’s sole discretion, it believes that the modifications being made are material, Conformé will notify Customer and End User prior to the change taking effect. By continuing to utilise the Services after the effective date of any update to this Agreement, Customer and End User will be deemed to have accepted such update.<p></p>

<b>(13) DEFINITIONS</b><p></p>

<b>(13.1) Account</b><p></p>
“Account” means a Customer Account or End User Account.<p></p>

<b>(13.2) Affiliate</b><p></p>
“Affiliate” means, with respect to a Party, any entity that directly or indirectly controls, is controlled by, or is under common control with such Party, whereby “control” (including, with correlative meaning, the terms “controlled by” and “under common control”) means the possession, directly or indirectly, of the power to direct, or cause the direction of the management and policies of such Party, whether through the ownership of voting securities, by contract or otherwise.<p></p>

<b>(13.3) Agreement</b><p></p>
“Agreement” means this Software-as-a-Service (SaaS) Agreement, consisting of the terms and conditions stated herein as well as all Order Forms, policies, addenda, exhibits, attachments and amendments (if any).<p></p>

<b>(13.4) Confidential Information</b><p></p>
“Confidential Information” means all information provided or made available by the Disclosing Party to the Receiving Party in connection with this Agreement that is either identified as, or should reasonably be understood by the Receiving Party to be, proprietary or confidential, including, but it not limited to, non-public information regarding features, functionality and performance of the Services, the terms of this Agreement, Customer Data, business plans, product plans, roadmaps, strategies, forecasts, projects and analyses, the results of any audit related to the Services (including but not limited to security audits), financial information and fee structures, business processes, methods and models, and technical Documentation, but does not include any information that the Receiving Party can demonstrate:
<ul><li>(i) was generally available to the public at the time of disclosure</li>
    <li>(ii) was in its possession or known by it without restriction prior to receipt from the Disclosing Party</li>
    <li>(iii) was rightfully disclosed to it without restriction by a third party</li>
    <li>or (iv) was independently developed without the use of any Confidential Information of the Disclosing Party.</li>
</ul><p></p>

<b>(13.5) Customer</b><p></p>
“Customer” means the individual or entity represented by the individual(s) entering into this Agreement with Conformé and includes Customer’s Affiliates.<p></p>

<b>(13.6) Customer Account</b><p></p>
“Customer Account” means the account or instance within the Services created on behalf of Customer by a representative of Customer that has administrative rights on the Customer Account to take certain actions and make certain changes on behalf of the Customer.<p></p>

<b>(13.7) Customer Data</b><p></p>
“Customer Data” means information submitted to or created in the Services by Customer or End User in connection with Customer or End User’s use of the Services. Customer Data does not include Usage Data, information about Conformé’s business contacts within Customer’s organisation, information about Account holders Processed for the Purpose of administering or operating such accounts or Conformé’s marketing activities.<p></p>

<b>(13.8) Customer Parties</b><p></p>
“Customer Parties” means Customer and its Affiliates, subsidiaries, officers.<p></p>

<b>(13.9) Customer Settings</b><p></p>
“Customer Settings” means the portion of the Services which Customer can access by creating a Customer Account and where Customer can perform administrative functions, such as adding and deleting users.<p></p>

<b>(13.10) Disclosing Party</b><p></p>
“Disclosing Party” means a Party to this Agreement which may make Confidential Information available to the other Party.<p></p>

<b>(13.11) Documentation</b><p></p>
“Documentation” means the then-current, generally available documentation detailing the functionalities of the Services or describing the Subscription Plans made available by Conformé.<p></p>

<b>(13.12) End User</b><p></p>
“End User” means an individual accessing the Services through permissions granted in a Customer Account.<p></p>

<b>(13.13) End User Account</b><p></p>
“End User Account” means the account or instance within the Services created by an End User who completes the registration process by providing their full legal name, a valid email address, and any other information requested.<p></p>

<b>(13.14) Equipment</b><p></p>
“Equipment” means any equipment and ancillary services needed in order to connect to, access or otherwise use the Services, including modems, hardware, servers, software, operating systems, networking, web servers and the like.<p></p>

<b>(13.15) Fees</b><p></p>
"Fees" means dollar amounts due and payable to Conformé by Customer as compensation for Customer’s use of the Services, including Subscription Charges and fees for Professional Services.<p></p>

<b>(13.16) Force Majeure Event</b><p></p>
“Force Majeure Event” means a condition that is beyond a Party’s reasonable control, including but not limited to natural disasters, civil disturbances, epidemics, pandemics, quarantines, acts of terrorism or war, labour conditions, governmental actions, interruptions or failure of the internet or any utility service, failures in third party hosting services, and denial of service attacks.<p></p>

<b>(13.17) Conformé</b><p></p>
“Conformé” means Conformé's company entity (Conformé PTY LTD. ACN:680 517 748).<p></p>

<b>(13.18) Conformé Parties</b><p></p>
“Conformé Parties” means Conformé and its Affiliates, subsidiaries, officers, employees and agents.<p></p>

<b>(13.19) including</b><p></p>
“including” means including, without limitation.<p></p>

<b>(13.20) Order Form</b><p></p>
“Order Form” means the written instrument signed by both Parties to this Agreement which specifies the Fees associated with Customer’s use of the Services as well the Subscription Term.<p></p>

<b>(13.21) Parties</b><p></p>
“Parties” means Customer and Conformé.<p></p>

<b>(13.22) Privacy Notice</b><p></p>
“Privacy Notice” means Conformé’s policy found at <a href="https://conforme.com.au/legal/privacy">https://conforme.com.au/legal/privacy</a><p></p>

<b>(13.23) Process</b><p></p>
“Process” and inflections thereof refer to any operation or set of operations which is performed on Customer Data or on sets of Customer Data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure, and destruction.<p></p>

<b>(13.24) Professional Services</b><p></p>
“Professional Services” means consulting or professional services (including any training, success and implementation services) provided by Conformé. Professional Services may also be referred to as consulting services in the Documentation or statement of work.<p></p>

<b>(13.25) Receiving Party</b><p></p>
“Receiving Party” means a Party to this Agreement which may receive Confidential Information from the other Party.<p></p>

<b>(13.26) Representatives</b><p></p>
“Representatives” means the employees, Affiliates, consultants, contractors, subcontractors, agents, or advisors of a Party.<p></p>

<b>(13.27) Services</b><p></p>
“Services” means the software-as-a-service application and technical support services owned or operated by Conformé, including mobile applications, Software, websites or other properties. “Services” excludes Third Party Services.<p></p>

<b>(13.28) Subscription Charges</b><p></p>
“Subscription Charges” means dollar amounts due and payable to Conformé by Customer under this Agreement as compensation for Customer’s use of the Services.<p></p>

<b>(13.29) Subscription Plan</b><p></p>
“Subscription Plan” means the packaged Service plan(s) and the functionality and Services associated therewith (as detailed on Conformé’s website and in Documentation applicable to the Service).<p></p>

<b>(13.30) Subscription Term</b><p></p>
“Subscription Term” means the time period during which Conformé shall agree to provide and Customer shall agree to purchase the Services as specified in an Order Form or as agreed to by Customer upon signing up through Conformé’s websites or Customer Settings.<p></p>

<b>(13.31) Taxes</b><p></p>
“Taxes” means all taxes, levies, duties or similar assessments of any nature, including but not limited to, value-added, sales, use or withholding taxes, assessable by any jurisdiction.<p></p>

<b>(13.32) Third Party Services</b><p></p>
“Third Party Services” means the various third party applications and services which Conformé makes available for use in connection with the Services.<p></p>

<b>(13.33) Usage Data</b><p></p>
“Usage Data” has the meaning given in Section 4.2.<p></p>
