@page
@model Conforme.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div><p></p>

<p>Conforme is a Microsoft Word document builder that takes your templates, places data into them, resulting in a suite of completed compliant documents.  </p>
<p>
    We generate dynamic end (post editing) Word documents that have not required users to intervene with Copy/Paste editing, table cell merging and other structual alterations
    that undermine the strength of Word stylings and controls.
</p>
<p>
    Leveraging a database of your compliant information, a suite of documents can be created, and recreated within minutes.<br />
    No more labour intensive document building and time wasting manual handling of text.
</p>
<p>
    How does this work?<br />
    1. Choose the type of document (assessment, mapping, delivery plan or others).<br />
    2. Map your completed template (*.dot, *.dotx).<br />
    3. Upload the template into Conforme.<br />
    4. Generate the suite of Word documents full of your rich content.
</p>
