@page
@model Conforme.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>Contact</h1>
    <p></p>
    <section class="row" aria-labelledby="contactInformation" align="center">
        <p>
            <address>
                Caulfield North, VIC 3161<br/>
                <a href="mailto:hello@conforme.com.au">hello@conforme.com.au</a><br />
            </address>
        </p>
    </section>
</div>

