@page
@model Conforme.Pages.NavigateModel
@{
    ViewData["Title"] = "Navigate";
}

<div class="wrapper side-panel-open">
    <div class="main">
        <h2>Template goes here</h2>
    </div>   
    <button class="side-panel-toggle" type="button">
        <span class="material-icons sp-icon-open">Select Fields</span>
        <span class="material-icons sp-icon-close">Select Fields</span>
    </button>
    <div class="side-panel">
        Fields are here
    </div>
</div>
