@page
@model Conforme.Pages.NavigateModel
@{
    ViewData["Title"] = "Navigate";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="text-center">
        <h3>@Model.SuccessMessage</h3>
    </div>
   
}



