@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div><p></p>

<p>Overview</p>
<p>This section of our Privacy Policy outlines Conforme’s privacy policy and data protection practices relating to our Online Solution.<br>

    By using our Online Solution, you agree to be bound by this Privacy Policy.<br>

    We may update our Privacy Policy from time to time to reflect changes to applicable law or changes to our business practices. The updated Privacy Policy will be published on this website and the updated policy will apply to all Personal Information held from that time onwards.<br>
</p>

<p>1. Information</p>
<p>
    We are serious about the security of the information we collect. To protect this information, we employ contractual and administrative steps to ensure that this information is protected against any unauthorised access, disclosure or misuse. In addition to this we also use significant technology solutions to protect against unauthorised access or disclosure.<br>

    All our employees undertake training in handling information, with particular emphasis on protecting the personal information of individuals. We limit physical and digital access to our premises and computer networks to those that require such access.<br>
</p>

<p>2. Making a complaint</p>
<p>
    While we aim to address matters quickly and efficiently, we understand there are times when things may go wrong, and an individual may want to make a complaint.<br>

    To make a complaint it may be beneficial to contact us via email ensuring that all relevant information is noted, otherwise please speak with us on the contact number below.<br>

    As per our complaint handling policy we will address complaints as quickly and efficiently as possible, at a minimum we will acknowledge receipt of a complaint within one business day and commit to investigating the complaint and providing a response within 30 days, provided that we have access to all necessary information. In cases where further information, assessment or investigation is required, we will seek to agree on an acceptable alternative time frame.<br>
</p>

<p>3. Contact Us</p>
<p>If you have any questions relating to this Privacy Policy, please contact us at email: hello@conforme.com.au or mobile: +61 409 505 121</p>
